[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorflow-gpu = "*"
tensorflow = "*"

[packages]
celery = ">=4.2"
Django = ">=2.1"
django_celery_results = "*"
django-pandas = "*"
flower = "*"
gunicorn = "*"
ijson = "*"
Keras = "*"
lazy = "*"
numpy = "*"
pandas = ">=0.24"
pipenv = "*"
psycopg2 = "*"
pylint = "*"
pylint-django = "*"
Scrapy = "*"

[requires]
python_version = "3.5"
